<div class="container">
  <div class="top">
    <h2>Edit Task</h2>
  </div>
  <div class="bottom">
    <form action="/edit/<%- task.id -%>" method="post">
      <label for="message">Message:</label>
      <input
        type="text"
        name="message"
        id="message"
        placeholder="Enter Message..."
        required
        value="<%- task.message -%>"
      />
      <label for="isDone">Done:</label>
      <select name="isDone" id="isDone" value="<%- task.isDone -%>">
        <option <% if(task.isDone){ %>selected <%}%> value="true">Yes</option>
        <option <% if(!task.isDone){ %>selected <%}%> value="false">No</option>
      </select>
      <button type="submit">Save Task</button>
    </form>
  </div>
</div>
